name: Build Native Image

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Lowercase Repo Name
      run: |
        echo "REPO_LC=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}
      env:
        GITHUB_REPOSITORY: '${{ github.repository }}'
      
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile.ci
        push: true
        tags: |
          ghcr.io/${{ env.REPO_LC }}:latest
          ghcr.io/${{ env.REPO_LC }}:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
